*{
  margin: 0;
  padding: 0;
}

.nav--icon{
  display: flex;
  flex-direction: row;

}
.my--card-img{
  width: 280px;
  height: 300px;
}
.fly-cart-btn{
    align-items: center;
    background-color: initial;
    background-image: url('https://www.kfcpakistan.com/static/media/bucket-filled.d2ad11819eca0f28a8ac.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    color:black;
    display: flex;
    font-family: National2CondensedBold;
    font-family: var(--theam-font);
    font-weight: 600;
    height: 50px;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0;
    right: 20px;
    width: 45px
}
.bcket-icon{
  height: 45px;
}
.my--btn{
  background-color: crimson;
  margin-left: 40px;
  margin-top: 20px;
  color: white;
}
.container{
  margin-top: 40px;
  margin-bottom: 30px;
}
.my--card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 78vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card-body{
  margin: 10px;
}

.title-sec{
  display: flex;
  justify-content: space-between;
}
.title-sec>h6{
  background-color: crimson;
  border-radius: 30%;
  color: white ;
  padding: 5px;
}
.my-btn{
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 20px;
}
.my-btn:hover{
  background-color: rgb(231, 78, 78);
  transition: .2s ease all;
}